<form id="register" {{action "register" on="submit"}}>
  <label>Email</label>
  {{input value=user.email type="email" required="true"}}
  {{#each user.errors.email as |error|}}
  <div>
    {{error.message}}
  </div>
  {{/each}}

  <label>Password</label>
  {{input value=user.password type="password" required="true"}}
  {{#each user.errors.password as |error|}}
  <div>
    {{error.message}}
  </div>
  {{/each}}
  <label>Confirm Password</label>
  {{input value=confirmPassword type="password" required="true"}}

  <button type="submit" disabled={{cannot_submit}}>Register</button>
</form>
