<div class="mask {{if isBusy 'busy'}}">
  {{ember-spinner lines='5' hwaccel='true' scale="1.5"}}
</div>
<form id="login" {{action "login" on="submit"}}>
  {{input value=email type="email" required="true" placeholder="email"}}
  {{input value=password type="password" required="true" placeholder="password"}}
  <button disabled={{cannot_submit}}>
    Sign in
  </button>
  {{#if errorMessage}}
    <span class="error">{{errorMessage}}</span>
  {{/if}}
</form>
